# Dependencies
node_modules/

# Build output
dist/

# Environment files
.env
.env.local
.env.production

# IDE
.vscode/
.idea/

# Testing
coverage/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Drizzle
*.sql

#docker compose
docker-compose.yaml*.tsbuildinfo
drizzle.config.js
drizzle.config.d.ts
drizzle.config.js.map
.env.production
